#monster-bar {
    margin-bottom: 20px;
    background-color: #f8f8f8;
}

#monster-bar > div {
    display: inline-block;
    min-height: 10px;
} 

.monster-name {
    display: inline-block;
    padding-left: 15px;
    font-size: 28px;
    font-family: 'Flavors';
    color: #4b4b4b;
    width: 35%;
    vertical-align: middle;
}

.monster-text {
    display: inline-block;
    font-size: 12px;
    color: #b0b0b0;
    font-family: "maven pro";
    width: 45%;
    vertical-align: middle;
}

.pinkish {
    border-top: 3px solid #ff2d55;
}

.yellowish {
    border-top: 3px solid #ffcc00;
}

.blueish {
    border-top: 3px solid #5ac8fa;
    text-align: right;
}

.greenish {
    border-top: 3px solid #4cd964;
}

#logout-link {
    color: #b0b0b0;
    line-height: 36px;
    padding-right: 15px;
    font-size: 14px;
    font-family: 'Maven Pro';
}

#logout-link:hover {
    color: #4b4b4b;
}
