<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
      }

    </style>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
    function getLoadAndPaintShit() {
      $.ajax('/api/load', { dataType: 'json' }).done(function(response) {
        console.log(response);
        var loadTable = [];   
        loadTable[0] = ['Index', '1m', '5m', '15m'];
        if (response.l < 50) {
          for (var i = 0; i < 50 - response.l; i++) {
            loadEntry = [
              i,
              0.0,
              0.0,
              0.0
            ]
            loadTable.push(loadEntry);
          }
        }
        for (var i = 0; i < response.l; i++) {
          loadEntry = [
            i + (50 - response.l),
            parseFloat(response.load[i]['1min']),
            parseFloat(response.load[i]['5min']),
            parseFloat(response.load[i]['15min'])
          ];

          loadTable.push(loadEntry);
        }

        var options = {
          curveType: 'function',
          fontName: 'maven pro',
          vAxis: {
            maxValue: 3.0,
            minValue: 0.0,
            gridlines: {
              count: 16,
              color: '#f6f6f6'
            }
          },
          hAxis: {
            gridlines: {
              color: '#f6f6f6'
            }
          },
          colors: ['#ff2d55', '#5ac8fa', '#4cd964']
        };
        var chartData = google.visualization.arrayToDataTable(loadTable);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(chartData, options);

        if (!refresh) {
          refresh = setInterval(getLoadAndPaintShit, 2000);
        }
        
      });
    };

    function getMemInfoAndBakePie() {
      $.ajax('/api/mem_info', { dataType: 'json' }).done(function(response) {
        console.log(response);
        var memTable = [];
        memTable[0] = ['Type', 'MB'];
        memTable[1] = ['Free', response.mem_info[response.l - 1]['free']];
        memTable[2] = ['Active', response.mem_info[response.l - 1]['active']]; 
        memTable[3] = ['Inactive', response.mem_info[response.l - 1]['inactive']]; 
        memTable[4] = ['Wired', response.mem_info[response.l - 1]['wired']]; 
        var pieData = google.visualization.arrayToDataTable(memTable);
        var options = {
          colors: ['#ff2d55', '#5ac8fa', '#4cd964', '#ffcc00'],
          pieSliceText: 'value',
          fontName: 'maven pro'
        };
        var chart = new google.visualization.PieChart(document.getElementById('memory_pie'));
        chart.draw(pieData, options);
        
        if (!pie_refresh) {
          pie_refresh = setInterval(getMemInfoAndBakePie, 3000); 
        }

      }); 
    }

    function getMemInfoAndPaintLayers() {
      $.ajax('/api/mem_info', { dataType: 'json' }).done(function(response) {
        var memTable = [];
        memTable[0] = ['Index', 'Wired', 'Active', 'Inactive', 'Free'];
        for (var i = 0; i < response.l; i++) {
          memEntry = [
            i,
            response.mem_info[i]['wired'],
            response.mem_info[i]['active'],
            response.mem_info[i]['inactive'],
            response.mem_info[i]['free']
          ];
          console.log("memEntry " + i + ": " + memEntry);
          memTable.push(memEntry);
        }
        var areaData = new google.visualization.arrayToDataTable(memTable);
        var options = {
          colors: ['#ff2d55', '#5ac8fa', '#4cd964', '#ffcc00'],
          isStacked: true,
          areaOpacity: 0.8,
          fontName: 'maven pro',
          hAxis: {
            gridlines: {
              color: '#f6f6f6'
            }
          },
          vAxis: {
            gridlines:{color: '#f6f6f6'}}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('memory_area'));
        chart.draw(areaData, options);

        if (!area_refresh) {
          area_refresh = setInterval(getMemInfoAndPaintLayers, 3000);
        }
      }); 
    }

    function drawApacheColumns() {
      $.ajax('/api/apache', { dataType: 'json'}).done(function(response) {
        var apacheTable = [];
        apacheTable[0] = ['Index', 'Requests', 'Transfer'];
        for (var i = 0; i < response.l; i++) {
          apacheEntry = [
            i,
            response.apache_activity[i]['requests'],
            response.apache_activity[i]['transfer']
          ];
          console.log("apacheEntry " + i + ": " + apacheEntry);
          apacheTable.push(apacheEntry);
        }
        var apacheData = new google.visualization.arrayToDataTable(apacheTable);
        var options = { 
          colors: ['#ff2d55', '#5ac8fa', '#4cd964', '#ffcc00'],
          fontName: 'maven pro',
          hAxis: {
            gridlines: {
              color: '#f6f6f6'
            }
          },
          vAxis: {
            gridlines:{color: '#f6f6f6'}}
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('apache_columns'));
        chart.draw(apacheData, options);

        if (!apache_refresh) {
          apache_refresh = setInterval(drawApacheColumns, 3000);
        }
      });        
    }
    
    
    function drawPostgresColumns() {
      $.ajax('/api/postgres', { dataType: 'json'}).done(function(response) {
        var postgresTable = [];
        postgresTable[0] = ['Index', 'Returned', 'Fetched', 'Inserts', 'Updates', 'Deletes'];
        for (var i = 0; i < response.l; i++) {
          postgresEntry = [
            i,
            response.postgres_stats[i]['returned'],
            response.postgres_stats[i]['fetched'],
            response.postgres_stats[i]['inserted'],
            response.postgres_stats[i]['updated'],
            response.postgres_stats[i]['deleted']
          ];
          console.log("postgresEntry " + i + ": " + postgresEntry);
          postgresTable.push(postgresEntry);
        }
        var postgresData = new google.visualization.arrayToDataTable(postgresTable);
        var options = { 
          colors: ['#ff2d55', '#5ac8fa', '#4cd964', '#ffcc00'],
          fontName: 'maven pro',
          hAxis: {
            gridlines: {
              color: '#f6f6f6'
            }
          },
          vAxis: {
            gridlines:{color: '#f6f6f6'}}
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('postgres_columns'));
        chart.draw(postgresData, options);

        if (!postgres_refresh) {
          postgres_refresh = setInterval(drawPostgresColumns, 3000);
        }
      });        
    }

    
    function drawMysqlColumns() {
      $.ajax('/api/mysql', { dataType: 'json'}).done(function(response) {
        var postgresTable = [];
        postgresTable[0] = ['Index', 'Selects', 'Inserts', 'Updates', 'Deletes', 'Connections'];
        for (var i = 0; i < response.l; i++) {
          postgresEntry = [
            i,
            response.postgres_stats[i]['select'],
            response.postgres_stats[i]['insert'],
            response.postgres_stats[i]['update'],
            response.postgres_stats[i]['delete'],
            response.postgres_stats[i]['connections']
          ];
          console.log("postgresEntry " + i + ": " + postgresEntry);
          postgresTable.push(postgresEntry);
        }
        var postgresData = new google.visualization.arrayToDataTable(postgresTable);
        var options = { 
          colors: ['#ff2d55', '#5ac8fa', '#4cd964', '#ffcc00'],
          fontName: 'maven pro',
          hAxis: {
            gridlines: {
              color: '#f6f6f6'
            }
          },
          vAxis: {
            gridlines:{color: '#f6f6f6'}}
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('mysql_columns'));
        chart.draw(postgresData, options);

        if (!mysql_refresh) {
          mysql_refresh = setInterval(drawMysqlColumns, 3000);
        }
      });        
    }
    

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(getLoadAndPaintShit);
    google.setOnLoadCallback(getMemInfoAndBakePie);
    google.setOnLoadCallback(getMemInfoAndPaintLayers);
    google.setOnLoadCallback(drawApacheColumns);
    google.setOnLoadCallback(drawPostgresColumns);
    google.setOnLoadCallback(drawMysqlColumns);

    var refresh = false;
    var pie_refresh = false;
    var area_refresh = false;
    var apache_refresh = false;
    var postgres_refresh = false;
    var mysql_refresh = false;

    </script>

  </head>
  <body>

    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">load</h1></div>
      <div class="pure-u-2-3" id="chart_div" style="height:360px"></div>
      <div class="pure-u-1-6" style="height:360px;"></div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">memory pie</h1></div>  
      <div class="pure-u-2-3" id="memory_pie" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">memory usage</h1></div>  
      <div class="pure-u-2-3" id="memory_area" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">apache stats</h1></div>  
      <div class="pure-u-2-3" id="apache_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">postgres stats</h1></div>  
      <div class="pure-u-2-3" id="postgres_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">mysql stats</h1></div>  
      <div class="pure-u-2-3" id="mysql_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>
  </body>
</html>
