<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Flavors' rel='stylesheet' type='text/css'>
    <link href="css/regular/style.css" rel="stylesheet" type="text/css">
    <link href="css/global.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    {% if 'LoadAvg' in enabled_probes %}
    <script type="text/javascript" src="js/regular/load-chart.js"></script>
    {% endif %}
  
    {% if 'MemInfo' in enabled_probes %}
    <script type="text/javascript" src="js/regular/meminfo-charts.js"></script>
    {% endif %}

    {% if 'Nginx' in enabled_probes %}
    <script type="text/javascript" src="js/regular/nginx-chart.js"></script>
    {% endif %}

    {% if 'Postgres' in enabled_probes %}
    <script type="text/javascript" src="js/regular/postgres-chart.js"></script>
    {% endif %}

    {% if 'Apache2' in enabled_probes %}
    <script type="text/javascript" src="js/regular/apache-chart.js"></script>
    {% endif %}

    {% if 'MySQL' in enabled_probes %} 
    <script type="text/javascript" src="js/regular/mysql-chart.js"></script>
    {% endif %}

    <script type="text/javascript">
  
    google.load("visualization", "1", {packages:["corechart"]});
    {% if 'LoadAvg' in enabled_probes %}
    google.setOnLoadCallback(getLoadAndPaintShit);
    {% endif %}
    {% if 'MemInfo' in enabled_probes %}
    google.setOnLoadCallback(getMemInfoAndBakePie);
    google.setOnLoadCallback(getMemInfoAndPaintLayers);
    {% endif %}
    {% if 'Apache2' in enabled_probes %}
    google.setOnLoadCallback(drawApacheColumns);
    {% endif %}
    {% if 'Postgres' in enabled_probes %}
    google.setOnLoadCallback(drawPostgresColumns);
    {% endif %}
    {% if 'Nginx' in enabled_probes %}
    google.setOnLoadCallback(drawNginxColumns);
    {% endif %}
    {% if 'MySQL' in enabled_probes %}
    google.setOnLoadCallback(drawMysqlColumns);
    {% endif %}

    var refresh = false;
    var pie_refresh = false;
    var area_refresh = false;
    var apache_refresh = false;
    var postgres_refresh = false;
    var mysql_refresh = false;
    var nginx_refresh = false;

    </script>

  </head>
  <body>

    <div class="pure-g" id="monster-bar">
      <div class="pure-u-1-4 pinkish">
        <span class="monster-name">monster</span>
          <span class="monster-text">version one, we think</span>
      </div>
      <div class="pure-u-1-4 yellowish"></div>
      <div class="pure-u-1-4 greenish"></div>
      <div class="pure-u-1-4 blueish">
        {% if password %}
        <a href="/logout" id="logout-link">logout</a>
        {% endif %}
      </div>
    </div>

    {% if 'LoadAvg' in enabled_probes %}
    <div class="pure-g">
      <div class="pure-u-1-6 left-col"><h1 style="font-family:'esteban';text-align:center;">load</h1></div>
      <div class="pure-u-2-3 chart-col" id="chart_div"></div>
      <div class="pure-u-1-6 right-col"></div>
    </div>
    {% endif %}

    {% if 'MemInfo' in enabled_probes %}
    <div class="pure-g">
      <div class="pure-u-1-6 left-col"><h1 style="font-family:'esteban';text-align:center;">memory pie</h1></div>  
      <div class="pure-u-2-3 chart-col" id="memory_pie"></div>
      <div class="pure-u-1-6 right-col"></div> 
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6 left-col" ><h1 style="font-family:'esteban';text-align:center;">memory usage</h1></div>  
      <div class="pure-u-2-3 chart-col" id="memory_area"></div>
      <div class="pure-u-1-6 right-col"></div> 
    </div>
    {% endif %}

    {% if 'Apache2' in enabled_probes %}
    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">apache stats</h1></div>  
      <div class="pure-u-2-3" id="apache_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>
    {% endif %}

    {% if 'Postgres' in enabled_probes %}
    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">postgres stats</h1></div>  
      <div class="pure-u-2-3" id="postgres_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>
    {% endif %}

    {% if 'MySQL' in enabled_probes %}
    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">mysql stats</h1></div>  
      <div class="pure-u-2-3" id="mysql_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>
    {% endif %}

    {% if 'Nginx' in enabled_probes %}
    <div class="pure-g">
      <div class="pure-u-1-6" style="height:360px;"><h1 style="font-family:'esteban';text-align:center;">nginx stats</h1></div>  
      <div class="pure-u-2-3" id="nginx_columns" style="height:360px;"></div>
      <div class="pure-u-1-6" style="height:360px;"></div> 
    </div>
    {% endif %}

    <p>Debug:</p>
    <pre>{{ enabled_probes }}</pre>

  </body>
</html>
